<h1>Books</h1>
<table>
  <thead>
  	<tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
  	</tr>
  </thead>
    <% @books.each do |book| %>
  <tbody>
  	<tr>
      <td><%= book.user.name %></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
  	</tr>
  </tbody>
  <% end %>
</table>

